# Ignore raw data
!data/raw/README.md  # Keep an empty README to explain where raw files go

# Ignore any fastq.gz and large dataset files in processed data
*.fastq.gz
*.bam
*.vcf
*.sam
*.h5
*.gz*
.nextflow/
*.txt
*.html
*.json
*to_combine/
*tmp/
*gtf
*fasta
*fa
*star_index/
*.tab
/notebooks/oocyte_transcript_analysis_files/*
# Ignore large result files
results/**/*.pdf
results/**/*.png
/downloads
/notebooks/results/*
data/processed/*

# Ignore temporary files and logs
*.log
*.tmp
*.swp
*.bak
.DS_Store
*.err
*.out

# Ignore container and config files specific to environment
config/docker/*
VASTDB/*


# Ignore compiled files and environments
__pycache__/
*.Rhistory
*.Rproj.user
*.ipynb_checkpoints/
.venv/
.env
node_modules/
.Rproj.user
