# ---------------------------
# Specific Files to Keep
# ---------------------------
!data/raw/README.md  # Keep an empty README to explain where raw files go

# ---------------------------
# Data Files
# ---------------------------
# Raw and processed data
*.fastq.gz
*.bam
*.vcf
*.sam
*.h5
*.gz*
*.tab
data/processed/*
/downloads
/work
/.nextflow

# File groups and specific data folders
*to_combine/
*tmp/
*gtf
*fasta
*fa
*star_index/
*multiqc_data/
*rMATS/

# ---------------------------
# Results and Analysis
# ---------------------------
# Result files
results/**/*.pdf
results/**/*.png
/results/*

# Notebooks and temporary outputs
/notebooks/oocyte_transcript_analysis_files/*
*combination_table*
# ---------------------------
# Temporary and Log Files
# ---------------------------
*.log
*tmp*
*.swp
*.bak
.DS_Store
*.err
*.out

# ---------------------------
# Environment and Config Files
# ---------------------------
# Container and environment configs
config/docker/*
VASTDB/*

# Compiled files and environments
__pycache__/
*.Rhistory
*.Rproj.user
*.ipynb_checkpoints/
.venv/
.env
node_modules/
.Rproj.user
