
process {

executor = 'slurm'

    queue = 'genoa64'

    memory = '15 GB'

    cpu= 2

    time = '1h'

    withName: FASTQC {

        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'

    }



    withName: 'INDEX|QUANT' {

        container = 'quay.io/biocontainers/salmon:1.10.2--hecfa306_0'

    }



    withName: MULTIQC {

        container = 'quay.io/biocontainers/multiqc:1.16--pyhdfd78af_0'

    }

   clusterOptions = {

        switch (task.time) {

            case { it > 168.h } :

                return '--qos=ethernal'

            case (48<..168).h:

                return '--qos=marathon'

            case (24<..48).h:

                return '--qos=vlong'

            case (12<..24).h:

                return '--qos=long'

            case (6<..12).h:

                return '--qos=normal'

            case (3<..6).h:

                return '--qos=short'

            case (1<..3).h:

                return '--qos=shorter'

            default:

                return '--qos=vshort'

        }

    }

}
